*:focus {
  outline: none; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box; }

body {
  background-color: #030C22; }
  body > video {
    display: block;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto; }

a {
  text-decoration: none; }
  a:link {
    color: #E0D498; }
  a:visited {
    color: #d3cba5; }
  a:hover {
    color: #98a4e0; }
  a:active {
    color: white; }

button {
  color: white;
  background-color: #3E3E53;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

button:disabled {
  color: #555;
  background-color: #3E3E53;
}

button:hover:enabled {
  background-color: #404749;
	cursor: pointer;
}

#help-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #20293F;
}

#help-button:hover {
  background-color: #3E3E53;
}

.fullWidth {
	width: 100%;
  text-align: center;
}

dialog {
	max-width: 50%;
  margin-top: 20vh;
  color: #E5E7E8;
  background-color: #20293F;
  border: 2px solid #E0D498;
  border-radius: 10px; }
  dialog h1 {
    color: #A9B0B3; }
  dialog ul {
    margin: 1em;
    margin-left: 2em; }

.centered {
	text-align: center;
}

#roomID {
	font-weight: bold;
}

#thumbnails {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  width: 100%;
  height: 20%;
  overflow-x: auto;
  overflow-y: hidden; }
  #thumbnails > video {
    height: 100%;
    display: inline-block;
    padding: 4px;
    padding-right: 0;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    /*&.talking {
			-webkit-transform: translateY(-4px);
			-moz-transform: translateY(-4px);
			-ms-transform: translateY(-4px);
			-o-transform: translateY(-4px);
			transform: translateY(-4px);
			//visibility: hidden;
		}*/ }
    #thumbnails > video:last-child {
      padding-right: 4px; }
    #thumbnails > video:hover {
      opacity: 0.5; }

