* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: #030c22; }
  body > video {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto; }

#thumbnails {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  white-space: nowrap;
  height: 20%;
  overflow-x: auto;
  overflow-y: hidden; }
  #thumbnails > video {
    height: 100%;
    display: inline-block;
    padding: 4px;
    padding-right: 0;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    /*&.talking {
    	-webkit-transform: translateY(-4px);
    	-moz-transform: translateY(-4px);
    	-ms-transform: translateY(-4px);
    	-o-transform: translateY(-4px);
    	transform: translateY(-4px);
    	//visibility: hidden;
    }*/ }
    #thumbnails > video:last-child {
      padding-right: 4px; }
    #thumbnails > video:hover {
      opacity: 0.5; }
