$bgDark: #030C22;
$bgLight: #20293F;
$mg1: #3E3E53;
$mg2: #404749;
$fgDark: #A9B0B3;
$fgLight: #E5E7E8;

* {
	margin: 0;
	padding: 0;
	//vertical-align: middle;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:focus {
		outline: none;
	}
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: $bgDark;
}
#thumbnails {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	white-space: nowrap;
	height: 20%;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: $bgLight;
	border-top: 1px solid $mg1;
	video {
		height: 100%;
		display: inline-block;
		background-color: $bgLight;
		border: 4px solid $bgLight;
		border-right-width: 0;
		opacity: 1;
		&:last-child {
			border-right-width: 4px;
		}
		&:hover {
			opacity: 0.5;
		}

		-webkit-transition: -webkit-transform 0.1s;
		transition: transform 0.1s;
		&.talking {
			-webkit-transform: translateY(-4px);
			-moz-transform: translateY(-4px);
			-ms-transform: translateY(-4px);
			-o-transform: translateY(-4px);
			transform: translateY(-4px);
		}
	}
}