* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: #030c22; }

#thumbnails {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  white-space: nowrap;
  height: 20%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #20293f;
  border-top: 1px solid #3e3e53; }
  #thumbnails video {
    height: 100%;
    display: inline-block;
    background-color: #20293f;
    border: 4px solid #20293f;
    border-right-width: 0;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s; }
    #thumbnails video:last-child {
      border-right-width: 4px; }
    #thumbnails video:hover {
      opacity: 0.5; }
    #thumbnails video.talking {
      -webkit-transform: translateY(-4px);
      -moz-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      -o-transform: translateY(-4px);
      transform: translateY(-4px); }
